<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  

  <div class="Title">
  <h1 id="Title">Wallet Wise <i class='bx bxs-wallet  bx-tada' id="wallet" ></i></h1>

  <h2>A Financial Wellbeing Tool</h2>
</div>
  
  

  
  
  <div class = 'panel'>

    <div>
    <h1>Login</h1>
  </div>
   <form action="/auth/sign-in" method="POST" id = "sign-in-form">
    
    <div class = "input-box">
    
    <input type="text" name="username" id="username" required placeholder = 'Username' />
    <i class='bx bx-user'></i>
  </div>

  <div class = "input-box">
    
    <input type="password" name="password" id="password" required placeholder = 'Password'/>
    <i class='bx bx-lock-alt' ></i>
  </div >
    
  
  </form>


  <button form = 'sign-in-form' type="submit" class = 'button'>Sign in</button>



  <div id="register-account">
    <p>Don't have an account?   </p>  <a href="/auth/sign-up">Register</a>
   </div>

</div>

</body>
</html>
